[flake8]

max-line-length = 120
extend-ignore = E203, W503, W504
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    .env,
    env,
    .mypy_cache,
    .pytest_cache,
    .tox,
    .eggs,
    *.egg-info,
    .idea,
    .vscode
ignore = E501, F401, E402
