{% extends 'base.html' %}
{% load static i18n l10n %}

{% autoescape off %}
{% translate 'Hello' %},

{% translate "You're receiving this email because you requested a password reset for your account at" %} {{ site_name }}.

{% translate 'Please click on the link below to reset your password' %}:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% translate "If you didn't request this password reset, please ignore this email" %}.

{% translate 'This link will expire in 24 hours' %}.

{% translate 'Thanks' %},
{% translate 'The' %} {{ site_name }} {% translate 'Team' %}
{% endautoescape %}
