
<div class="pagination">
  {% if is_paginated %}
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; {% translate 'Primeira' %}</a>
          <a href="?page={{ page_obj.previous_page_number }}">{% translate 'Anterior' %}</a>
      {% endif %}

      <span class="current">{% translate 'Página' %} {{ page_obj.number }} {% translate 'de' %} {{ page_obj.paginator.num_pages }}</span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">{% translate 'Próxima' %}</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">{% translate 'Última' %} &raquo;</a>
      {% endif %}
  {% endif %}
</div>
